.aHeadline
  font: $large-body-font
  text-align: center
  margin: 0 0 40px 0
  &.asLarge
    font: $giant-body-font
  &.asLeft
    text-align: left
  &.withSmallMargin
    margin-bottom: $margin
  +breakpoint($phone)
    &.asLarge
      font: 400 34px/42px $font-family
