.aNavigation
  display: flex
  padding: 0
  margin: 0
  list-style-type: none
  font: $tiny-body-font
  .aNavigation-item
    margin-left: $margin
    text-transform: uppercase
    > a
      text-decoration: none
      color: $dark-grey
      &:hover
        text-decoration: underline
  +breakpoint($phone)
    display: none
